.solution {
    padding-top: 144px;
    display: flex;
    justify-content: center;
}

.solution-container {
    max-width: 810px;
    width: 100%;
    padding-bottom: 100px;
}

.solution_body {
    padding: 24px 0;
}

.solution-body h1 {
    font-size: 28px;
    color: #398fe5;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 20px;
}

.solution-body h2 {
    font-size: 38px;
    color: #398fe5;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 20px;
}

.solution-body h4 {
    font-size: 24px;
    color: #398fe5;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 20px;
}

.solution-body h5,
.solution-body p {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 18px;
}

.solution-body p {
    font-weight: 400;
}

.solution-video {
    width: auto; 
    height: auto;
    height: 450px;
}

.post__error {
    text-align: center;
}

.post__error p {
    max-width: 540px;
    font-size: 20px;
    color: #777777;
    margin: 10px auto 20px auto;
}

.post__error button {
    display: inline-block;
    background-color: #398fe5;
    border: 1px solid #398fe5;
    border-radius: 30px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 700;
    color: #fefefe;
    padding: 8px 20px;
    transition: all 0.25s;
}

.post__error button:hover {
    color: #398fe5;
    background-color: transparent;
}

@media (max-width: 991.98px) {
    .solution {
        margin-bottom: 80px;
    }

    .solution-video {
        height: 500px
    }
    
    .solution-body p {
        font-size: 16px;
    }
}

@media (max-width: 767.98px) {
    .solution-container {
        padding: 0 16px;
    }
    
    .solution-video {
        height: 460px
    }
    
    .solution-body p {
        font-size: 14px;
    }

}

@media (max-width: 575.98px) {
    .solution-video {
        height: 400px
    }
    
    .post__error p {
        font-size: 16px;
    }

    .post__card-body p {
        font-size: 14px;
    }

    .post__card-image img {
        width: 100%;
        /* height: 228px; */
        object-fit: cover;
        display: flex;
        justify-content: center;
    }
}